*
{
	box-sizing: border-box;
}

h1
{
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
}

body
{
	background-color: #AE3232;
}

p
{
	padding: 10px;
	margin:0;
}

.container
{
	border:none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}


section {
	border:	1px solid black;
	background-color: #EAB543;
	width: 100%;
	height: 200px;
	font-family: Helvetica;
	color: black;
	position: relative;
	overflow: auto;
}

.cardhead {
	border: 1px solid black;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-family: Georgia,sans-serif;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #FFFF00;
}

#burger
{
	background-color:#9AECDB;
}

#pizza
{
	background-color: #3B3B98;
	color: white;
}

#drinks
{
	background-color: #F97F51;
}

.chain 
{
	width: 100%;
}

@media (min-width: 992px) 
{
  .col-lg-4 
  {
  	float: left;
    width: 33.33%;
  }

}


@media (min-width: 768px) and (max-width: 991px) 
{
  .col-md-6 
  {
  	float: left;
    width: 50%;
  }
}


@media (max-width: 768px) 
{
  .col-sm-12 
  {
  	float: left;
    width: 100%;
  }
}
